@import "tailwindcss";

/* Track (jalur slider) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: #22c55e; /* hijau */
  border-radius: 9999px;
}

input[type="range"]::-moz-range-track {
  height: 6px;
  background: #22c55e;
  border-radius: 9999px;
}

/* Thumb (bulatan yang digeser) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 9999px;
  margin-top: -5px; /* biar pas di tengah track */
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 9999px;
  border: none;
}
